@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */

html, body, #root, .App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
 .hero-section {
  background-image: url('./components//pexels-abdulgafur-ogel-619359636-27107818.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; 
  height: 100vh; 
  position: relative; 
}

.overlay {
  background-color: rgba(255, 255, 255, 0.7); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.content-wrapper {
  position: relative;
  
  z-index: 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

  .zindexing{
    z-index: 2;
  }






